  <main>
    <div class="container">

      <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">


              <div class="card mb-3">

                <div class="card-body">
                  <img src="assets/img/Ulogo.png">


                  <div class="pt-4 pb-2">
                    <h5 class="card-title text-center pb-0 fs-4">Login to Your Account</h5>
                    <p class="text-center small">Enter your Student Number & password to login</p>
                  </div>

                  <form class="row g-3 needs-validation" novalidate>
                    <div class="col-12">
                      <label for="yourNumber" class="form-label">Student Number</label>
                      <input type="text" name="text" class="form-control" id="yourNumber" [(ngModel)]="credentials.username" required>
                      <div class="invalid-feedback">Please enter a valid Student Number</div>
                    </div>
                  
                    <div class="col-12">
                      <label for="yourPassword" class="form-label">Password</label>
                      <input type="password" name="password" class="form-control" id="yourPassword" [(ngModel)]="credentials.password" required>
                      <div class="invalid-feedback">Please enter your password!</div>
                    </div>
                  
                    <div class="col-12">
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="remember" value="true" id="rememberMe">
                        <label class="form-check-label" for="rememberMe">Remember me</label>
                      </div>
                    </div>
                  
                    <div class="col-12">
                      <button class="btn btn-primary w-100" type="submit" (click)="login()">Login</button>
                    </div>
                  
                    <div class="col-12">
                      <p class="small mb-0">Don't have an account? <a routerLink="">Create an account</a></p>
                    </div>
                  
                    <div class="col-12">
                      <div *ngIf="loginFailed" class="alert alert-warning" role="alert">
                        Incorrect username or password. Please try again.
                      </div>
                      <div *ngIf="loginSuccessful" class="alert alert-success" role="alert">
                        Login successful! Redirecting to the dashboard...
                      </div>
                    </div>
                  </form>
                  

                </div>
              </div>

            </div>
          </div>
        </div>

      </section>

    </div>
  </main><!-- End #main -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
